apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: blue-green-demo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jgbitz/argocd-demo.git
    targetRevision: HEAD
    path: k8s/blue-green-demo
  destination:
    server: https://kubernetes.default.svc
    namespace: blue-green-demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
