apiVersion: apps/v1
kind: Deployment
metadata:
  name: bg-demo-green
  labels:
    app: blue-green-demo
    version: green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blue-green-demo
      version: green
  template:
    metadata:
      labels:
        app: blue-green-demo
        version: green
    spec:
      containers:
        - name: nginx
          image: nginx:1.27-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: green-index
            items:
              - key: index.html
                path: index.html
